body {
}

/*--- Topbar --*/

#topbar {
    background-color: #EEE;
}
#logo {
    padding: 20px 0;
}

.left-menu {
}

.left-menu a {
    color: grey;
    text-decoration: none;
    padding: 40px 5px;

}

#signup-btn,
#login-btn {
    padding: 15px 15px;
    margin: 20px;
    margin-top: 35px;
    background-color: #EEE;
    border: 1px solid #CCC;
    outline: none;
    width: 100px;
}

/*#login-btn {*/
    /*color: royalblue;*/
/*}*/


.loggedin {
    background-color: #EEE !important;
}

/*--- Topbar Section End ---*/


/*--- Main Banner Start --*/

#main-banner > * {
    padding-top: 130px;
}

#main-banner {
    background-image: url('../images/main-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    height: 540px;
}

#main-banner  input[type='text'] {
    padding: 20px;
    margin: 5px;
    outline: none;
}

#main-banner h1 {
    font-weight: bold;
}

#search-btn {
    min-height: 42px;
    margin-top: 5px;
    margin-left: 5px;
}

form p {
    color: #FFF;
    padding: 10px 0;
}

/*--- Services Section Start ---*/


/*--- Services Section End ---*/

#services-section {
    background-color: #EEE;
    padding-bottom: 70px;
    padding-top: 30px;
}

#services-section h2 {
    font-weight: normal;
    margin-bottom: 40px;
}

#services-section p strong {
    color: #444;
    position: relative;
    display: inline-block;
    font-size: 25px;
    font-weight: 100;
    margin-top: 10px;
}

#services-section .fa-pencil,
#services-section .fa-wrench,
#services-section .fa-plug {
    font-size: 100px;
    color: royalblue;
    transition: 0.7s all;
}

.service-box {
    border: 5px solid royalblue;
    display: inline-block;
    border-radius: 100%;
    width: 200px;
    max-height: 200px;
    line-height: 250px;
        transition: 0.7s all;

}

#services-section .service-box:hover .fa-pencil,
#services-section .service-box:hover .fa-wrench,
#services-section .service-box:hover .fa-plug {
    color: #FFF;
}

.service-box:hover {
    background-color: royalblue;
    cursor: pointer;
}


/*--- Desc Services Start --*/

#line {
    margin-top: 50px;
}

.line-heading {
    background-color: #EEE;
    padding: 22px;
    position: relative;
    bottom: 30px;
    color: #777;
    font-weight: 100;
    font-weight: bold;
}

#desc-services p {
    max-width: 800px;
    text-align: justify;
}

#main-imgs {
    margin: 0 auto;
}

/*--- Desc Services Start ---*/


/*--- Contact Section ---*/

#contact-section .icon-style {
    color: #FFF;
    background-color: #28abe3;
    width: 80px;
    height: 80px;
    font-size: 40px;
    border-radius: 100%;
    line-height: 80px;
    text-align: center
}

#contact-icon-section {
    margin: 50px 0;
}

/*--- Contact Section End ---*/

/*--- Footer End ---*/

#footer-section {
    background-color: #444;
}

#footer-section > * {
    padding-top: 20px;
    color: #FFF;
}

#footer-section a {
    color: #FFF;
    text-align: left;
    width: 110px;
}

.footer-section {
}

.link-item {
    text-align: left;
    display: inline-block;
}


/*--- User Form Start ---*/

 #login-section {
    background-image: url('../images/login_bg.png');
    background-size: cover;
    background-position: center;
    height: auto;
}

.form-box {
    color: #666;
    text-align: center;
    max-width: 400px;
    height: auto;
    background-color: #EEE;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 20px -1px rgba(0,0,0,1);
    -moz-box-shadow: 2px 2px 20px -1px rgba(0,0,0,1);
    box-shadow: 2px 2px 20px -1px rgba(0,0,0,1);
}

.form-box .fa-user {
    font-size: 9em;
    padding: 20px 0;
}

.form-box h4 {
    font-weight: 100;
}

.form-box input[type='email'],
.form-box input[type='password'] {
   height: 50px;
   background-color: #EEE;
   border: 1px solid #BBB;
   text-indent: 10px;
}

.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 12px;
  font-size: 24px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }


.button {
    background-color: #3498db;
    color: #FFF;
    margin: 10px 0;
    border: none;
    height: 47px;
    border: 1px solid #2980b9;
}

.button-samp {
    background-color: #AAA;
    height: 47px;
    margin: 15px 0;
    margin-top: 10px;
    font-size: 19px;
    color: #FFF;
    display: block;
}

.button-samp {
    background-color: #AAA;
    border: 1px solid grey;
    text-align: center;
}

.button-samp:hover {
    background-color: #BBB;
}

.form-box .a {
    color: #444;
    font-size: 12px;
}

.share {
    display: table-cell;
    vertical-align: bottom;
    height: 70px;
    width: 360px;
}

/* --- User Form End --- */

/*-- Job listing page ---*/

#joblisting-topbar {
    background-color: #28abe3;
    padding: 10px 0;
}

a.topbar-link-n {
    color: #FFF;
}

#joblisting-topbar .btn-bl {
    background-color: #28abe3;
    border: 1px solid #FFF;
    padding: 15px 25px;
    color: #FFF;
    transition: 0.3s;
    margin-right: -10px;
}

#joblisting-topbar .btn-bl:hover {
    background-color: #FFF;
    color: #28abe3;
}

.topbar-link {
    padding: 20px 20px;
    display: block;
}

.topbar-link-n {
    padding: 20px 0;
    display: inline-block;
}

#myjobsection {
    max-width: 800px;
    margin: 0 auto;
    background-color: #28abe3;
    border-radius: 4px;
    border: 1px solid #1b98ce;
    box-shadow: 1px 1px 1px #dcf1fa;
    padding-top: 12px;
}

#myjobsection p {
    color: #FFF;
    font-size: 16px;
    font-weight: 100;
}

.fa-file-first {
    font-size: 4.5em !important; 
    color: #FFF;
    margin: 5px 0;
    padding: 25px 10px;
    transition: all .3s;
    border: 2px solid white;
    width: 120px;
    height: 120px;
    line-height: 130px;
    border-radius: 100px;
}

.fa-file-first:hover {
    color: #28abe3;
    background-color: #FFF;
}

.job-list-bar {
   background-color: #EEE;
    border: 1px solid #DDD;
    border-radius: 2px;
    margin: 20px 0;
    transition: all .3s;
    padding: 10px 0;
}

.job-list-bar:hover {
    background-color: #F6f6f6;
    cursor: pointer;
}

#jobname {
    padding: 10px;
}

#jobname h3 {
    font-weight: 100;
}

#jobname > * {
    margin: 0;
}

#jobname small {
    display: inline-block;
    text-transform: uppercase;
}

#jobinfo {
    padding: 20px;
    display: inline-block;
}

/* --- Find Jobs ---*/

.top-search-bar {
    width: 60% !important;
    border-radius: 2px;
    padding: 23px 5px;
    background-color: #EEE;
    border: 1px solid #BBB;
    margin-top: 30px;
}

.top-search-btn {
    padding: 13px 20px;
    border-radius: 1px;
    border: 1px solid #BBB;
    color: #28abe3;
    margin-top: 30px;
}

#find-job-banner {
    background-image: url('../images/findjob.png');
    background-position: center;
    background-size: cover;
    height: 550px;
    position: relative;
}

.find-job-note {
    background-color: rgba(000,000,000,.4);
    position: absolute;
    color: #FFF;
    top: 150px;
    text-indent: 50px;
}
.find-job-note h2 {
    font-size: 4em;
}

/* --- User Functionality ---*/

#user-func {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

#user-func .fa {
    color: #FFF;
    border-radius: 100px;
    width: 160px;
    height: 160px;
    font-size: 5em;
    background-color: #28abe3;
    line-height: 160px;
    margin: 10px 0;
    transition: all .3s;
}

#user-func .col:hover .fa {
    color: #28abe3;
    background-color: #FFF;
    cursor: pointer;
    border: 1px solid #28abe3;
}

.user-func-banner {
}

.col {
    border-right: 1px solid grey;
    cursor: pointer;
}

.col-s {
    border-left: 1px solid grey;
}

/* --- Find job ---*/

#find-job-form {
    background-color: #EEE;
}

#find-job-form form {
    margin-top: 40px;
}

#find-job-form input[type='text'] {
    padding: 30px 5px;
    font-size: 17px;
    text-indent: 5px;
    outline: none !important;
}

#find-job-form .fj-f {
    border: none !important;
}

#find-job-form .fj-s {
    border: none !important;
}

#find-job-form .fj-btn {
    height: 59px;
    border: none !important;    
}

/* --- Freatured Jobs ---*/

#featured-jobs {
    background-color: #EEE;
}

#featured-jobs h3 {
    background-color: #FFF;
    padding: 20px 10px;
    border-radius: 3px;
    font-size: 1.7em;
    margin: 30px 0;
}

#latest-jobs {
    background-color: #EEE;
}

#latest-jobs h3 {
    background-color: #FFF;
    padding: 20px 10px;
    border-radius: 3px;
    font-size: 1.7em;
    margin: 30px 0;
}


/* ---- Create Job section ---*/

#job-message p {
    background-color: #EEE;
    padding: 20px 0;
    margin: 10px 0;
    font-size: 20px;
}

.profile-btn {
    padding: 15px 15px;
    margin: 15px;
    margin-top: 25px;
    background-color: #EEE;
    border: 1px solid #CCC;
    outline: none;
    width: 100px;
}



/* --- @Media query section ---*/

@media screen and (max-width: 680px) {
    .find-job-note {
        display: none;
    }
}


    .form-box-company{
        color: #666;
        max-width: 800px;
        height: auto;
        background-color: #EEE;
        margin: 20px auto;
        padding: 20px;
        border-radius: 5px;
        -webkit-box-shadow: 2px 2px 20px -1px rgba(0,0,0,1);
        -moz-box-shadow: 2px 2px 20px -1px rgba(0,0,0,1);
        box-shadow: 2px 2px 20px -1px rgba(0,0,0,1);
    }
    .form-box-company .fa-user {
        font-size: 9em;
        padding: 20px 0;
    }

    .form-box-company h4 {
        font-weight: 100;
    }

    .form-box-company input[type='email'],
    .form-box-company input[type='password'] {
        height: 50px;
        background-color: #EEE;
        border: 1px solid #BBB;
        text-indent: 10px;
    }

.dropdown{
    padding-top: 28px;
    /*height:30px;*/
}

.btn{
    height: 48px;;
}

. table , table th {
    width: 200px;
}